<h2>User info</h2>
<%= form_with model:@user, local:true do |f| %>
  <label>Name</label>
  <%= f.text_field :name, autofocus: true %>

  <label>Image</label>

  <label>Introduction</label>
  <%= f.text_area :introduction, autofocus: true %>
  <%= f.submit "Update User" %>
<% end %>