<h2>Books</h2>
<table class="table">
  <thead>
   <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
   </tr>
  </thead>
  <tbody>
      <tr>
        <td>写真</td>
        <td>ハリーポッター</td>
        <td>面白い</td>
      </tr>
  </tbody>
</table>
